.custom-container {
    margin-top: 2rem;


}

.login-box {
    padding: 2rem;
    background-color: #ffffff;
    width: 100%;
    /* Mobilde tam genişlik */
    max-width: 500px;
    /* Daha büyüklerde sabit genişlik */
    margin: 0 auto;
    /* Ortala */
}

/* Mobilde padding azalt */
@media (max-width: 426px) {
    .login-box {
        padding: 1rem;
    }
}


.short-input {
    width: 80%;
    margin: 0 auto;
}

/* Küçük ekranlarda daha dar yap */
@media (max-width: 576px) {
    .short-input {
        width: 90%;
    }
}


/* Sayfanın tamamı için dış zemin */
.outer-container {
    background-color: #ffffff;
    /* Açık gri arka plan */
    min-height: 100vh;
    /* Ekran yüksekliğini kapla */
    padding: 2rem;
}